<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdou.recipebackend.core.mapper.RecipeMapper">
    <select id="search" resultMap="BaseResultMap">
        SELECT
        r.RecipeID,
        r.UserID,
        r.Title,
        r.Ingredients,
        r.RecipeTypeNames,
        AVG(rt.Rating) AS Rating
        FROM recipe r
        LEFT JOIN review rt ON r.RecipeID = rt.RecipeID
        <where>
            <if test="keywords != null and keywords != ''">
                AND (r.Title LIKE CONCAT('%', ${keywords}, '%') OR r.Ingredients LIKE CONCAT('%', ${keywords}, '%'))
            </if>
            <if test="type != null and type != ''">
                AND CONCAT(',', r.RecipeTypeNames, ',') LIKE CONCAT('%,', ${type}, ',%')
            </if>
            <if test="selectPass">
                AND r.ReviewState = 1
            </if>
        </where>
        GROUP BY r.RecipeID
        ORDER BY r.RecipeID DESC LIMIT ${pageSize} OFFSET ${offset}
    </select>

    <resultMap id="BaseResultMap" type="edu.gdou.recipebackend.core.entity.vo.RecipeVO">
        <id column="RecipeID" property="recipeID"/>
        <result column="UserID" property="userID"/>
        <result column="Title" property="title"/>
        <result column="Ingredients" property="ingredients"/>
        <result column="RecipeTypeNames" property="recipeTypeNames"/>
        <result column="Rating" property="rating"/>
    </resultMap>
</mapper>